.confirmation-detail > div{
	border: none;
}

.confirmation-detail > p{
	font-weight: bolder;
}


.confirmation-detail {
	width: 100%;
}

.confirmation-detail-item {
	text-align: left;
	font-size: 12px;
	font-weight: normal;
}


.confirmation-container {
	width: 77%;
	/* overflow-x:hidden; */
}


.main-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}
