.LoginPage {
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  height: 100vh;
  /* TODO width: 100vw; */
  grid-template-rows: 1fr 30px 15%;
}

.header {
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
  height: 100%;
}

.footer {
  background: rgb(14, 89, 95);
  background: -moz-linear-gradient(
    0deg,
    rgba(14, 89, 95, 1) 0%,
    rgba(4, 148, 26, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(14, 89, 95, 1) 0%,
    rgba(4, 148, 26, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(14, 89, 95, 1) 0%,
    rgba(4, 148, 26, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0e595f",endColorstr="#04941a",GradientType=1);
  width: 100vw;
  height: 100%;
}

.forgot-password {
  color: #058e21;
  text-align: left;
  justify-self: left;
  padding: 0px 15px 10px;
}

.HomeIcon {
  width: 150px;
  height: 215px;
}

.login-button,
.email,
.password {
  width: 280px;
}
