.LoginPage {
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  height: 100vh;
  /* padding-top: 50px; */
  grid-template-rows: 1fr 50px 20%;
}

.login-header {
  display: grid;
  align-items: center;
  align-content: end;
  justify-content: center;
  justify-items: center;
  width: 100%;
  height: 100%;
}

.footer {
  background: linear-gradient(
    0deg,
    rgba(14, 89, 95, 1) 0%,
    rgba(4, 148, 26, 1) 100%
  );
  width: 100vw;
  height: 100%;
}

.forgot-password,
.goto-signup {
  color: #058e21;
  text-align: left;
  justify-self: left;
  padding: 0px 15px 10px;
}

.HomeIcon {
  width: 150px;
  height: 215px;
}

.login-button,
.email,
.password {
  width: 280px;
}

.error-message {
  grid-row: 2/3;
}

.goto-signup {
  cursor: pointer;
}
