.button-container {
	display: flex;
	position: relative;
	min-height: 46px;
	padding: 0px 5px 0px;
	box-sizing: border-box;
}

.button {
	position: absolute;
	right: 10px;
	left: 10px;
	height: 32px;
	border: 2px solid #058E21;
	background-color: #ffffff00;
	color: #058E21;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	border-radius: 5px;
}

.button:active {
	background-color: #058E21;
	color: #ffffff;
}

.button-name {
	margin: 0px;
}
