.textbox-container {
	display: flex;
	position: relative;
	min-height: 46px;
	padding: 0px 5px 0px;
	box-sizing: border-box;
}

.name {
	color: #058E21;
	background-color: #E3E8E4;
	font-weight: bold;
	position: absolute;
	margin: 0px 0px 0px 14px;
	text-align: left;
}

.textbox {
	position: absolute;
	top: 8px;
	right: 10px;
	left: 10px;
	min-height: 30px;
	font-size: 14px;
	font-weight: bold;
	background-color: rgba(255, 255, 255, 0);
	border: 2px solid #058E21;
	border-radius: 5px;
	color: #058E21;
	box-sizing: border-box;
	padding: 0px 10px 0px;
	transition: all 0.3s ease;
}

.textbox:focus {
	outline: none;
}
